[Unit]
Description=Lock Screen on sleep

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=-/bin/betterlockscreen -l dimblur

[Install]
WantedBy=sleep.target
